@font-face {
  font-family: "Inter";
  src: url("fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter_18pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 500px) {
  table {
    width: 100%;
    table-layout: fixed;
  }

  table td {
    overflow-wrap: break-word;
  }

  th,
  td {
    width: auto;
  }

  .style-table th:nth-child(2),
  .style-table td:nth-child(2) {
    width: 70%;
  }

  .selector-table th:nth-child(2),
  .selector-table td:nth-child(2) {
    width: 50%;
  }
}

.bg-primary {
  background-color: #fafafa;
}

.bg-secondary {
  background-color: #e0e0e0;
}

.bg-tertiary {
  background-color: #d4d4d4;
}

.bg-table-alt {
  background-color: #ededed;
}

.bg-accent {
  background-color: #ff857a;
}

.bg-link {
  background-color: #cc6a62;
}

.bg-link-visited {
  background-color: #995049;
}

.text-accent {
  color: #ff857a;
}

.text-white {
  color: white;
}

.font-arial {
  font-family: Arial;
}

.font-sans-serif {
  font-family: sans-serif;
}

*::selection {
  background: #ff857a;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #141414;
  background-color: #fafafa;
  font-size: 15.5px;
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.6rem;
}

a {
  color: #cc6a62;
}

a:visited {
  color: #995049;
}

a:focus {
  outline: 1px solid #ff857a;
}

button:focus {
  outline: 1px solid #ff857a;
}

table {
  border-spacing: 0;
}

th {
  border: 1px solid #d4d4d4;
  padding: 10px;
}

td {
  border: 1px solid #d4d4d4;
  padding: 10px;
}

table thead tr > * {
  background: #e0e0e0;
}

table tbody tr:nth-child(even) {
  background: #ededed;
}

table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

#content li {
  padding-left: 0.5rem;
}

#content li:not(:last-child) {
  margin-bottom: 10px;
}

code {
  padding: 2px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

.border-codelike {
  padding: 2px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

code {
  background-color: #e0e0e0;
}

hr {
  color: #d4d4d4;
  margin: 10px auto;
  width: 100%;
}

.btn {
  text-decoration: none;
  color: #141414;
  padding: 7.5px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  text-align: center;
  user-select: none;
  min-width: 105px;
  width: 105px;
  max-width: 150px;
}

.btn:visited {
  text-decoration: none;
  color: #141414;
  padding: 7.5px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  text-align: center;
  user-select: none;
  min-width: 105px;
  width: 105px;
  max-width: 150px;
}

.aside {
  float: right;
  max-width: 50%;
  width: 35%;
  margin-left: 15px;
  margin-right: 0;
  text-align: right;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.btn:hover {
  border: 1px solid #ff857a;
}

.btn:focus {
  border: 1px solid #cc6a62;
  background-color: #e0e0e0;
}

.nowrap {
  white-space: nowrap;
}

.nomargin {
  margin: 0;
}

.active-page {
  font-weight: bold;
}

/* I wanted to add padding to the content wrapper, however, this caused the background of the
footer to not reach its edges, so instead I opted to add padding to all the child elements of the
content wrapper. */
header {
  padding: 10px 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header nav {
  display: flex;
  gap: 0.3em;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 900px) {
  /* at this breakpoint, it is more suitable to display the navbar below the title */
  header {
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
  }
}

footer {
  padding: 10px 20px;
  margin-top: auto;
  background-color: #d4d4d4;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

#main-wrapper {
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

#content-wrapper {
  display: flex;
  min-height: 98vh;
  flex-direction: column;
}

#content {
  padding: 0 20px 10px 20px;
}

/* all headings preceded by something (often a paragraph) should have larger spacing */
#content * ~ h1,
* ~ h2,
* ~ h3 {
  margin-top: 37.5px;
  margin-bottom: 7.5px;
}

#content * ~ h4 {
  margin-top: 25px;
  margin-bottom: -5px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content div h3 + p {
  font-style: italic;
}

.sitemap {
  list-style-type: none;
}

.sitemap li {
  display: inline;
  white-space: pre;
}

.sitemap li:not(:last-child)::after {
  content: "  | ";
}

.structure-image {
  min-width: 0px;
  width: 600px;
  max-width: 100%;
}

.responsive-image {
  min-width: 0px;
  width: 300px;
  max-width: 100%;
}

.mastermind-image,
.xpuz-image {
  min-width: 0px;
  width: 800px;
  max-width: 100%;
}
